#stars {
  width: 4px;
  height: 4px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 23px 138px #353535, 334px 1673px #353535, 317px 1332px #353535,
    1005px 1978px #353535, 1295px 319px #353535, 1342px 1195px #353535,
    759px 1368px #353535, 1092px 1372px #353535, 1081px 277px #353535,
    915px 845px #353535, 287px 89px #353535, 981px 84px #353535,
    1873px 843px #353535, 751px 577px #353535, 779px 160px #353535,
    437px 1294px #353535, 1649px 1849px #353535, 736px 1938px #353535,
    1578px 261px #353535, 972px 1878px #353535, 972px 1306px #353535,
    618px 746px #353535, 492px 1744px #353535, 302px 1600px #353535,
    12px 12px #353535, 896px 1206px #353535, 660px 476px #353535,
    1026px 1109px #353535, 38px 224px #353535, 833px 405px #353535,
    1434px 39px #353535, 1611px 211px #353535, 866px 1718px #353535,
    25px 1674px #353535, 980px 140px #353535, 1008px 714px #353535,
    1411px 933px #353535, 38px 1336px #353535, 1302px 783px #353535,
    1410px 609px #353535, 856px 147px #353535, 374px 1336px #353535,
    538px 678px #353535, 368px 405px #353535, 159px 712px #353535,
    1791px 1430px #353535, 603px 1839px #353535, 161px 1459px #353535,
    94px 1502px #353535, 950px 1120px #353535, 1753px 1354px #353535,
    312px 1633px #353535, 935px 1165px #353535, 1150px 489px #353535,
    1395px 702px #353535, 1607px 1558px #353535, 1784px 167px #353535,
    914px 1177px #353535, 1815px 1467px #353535, 1862px 1778px #353535,
    4px 311px #353535, 1615px 625px #353535, 195px 1433px #353535,
    188px 1306px #353535, 995px 1630px #353535, 675px 1236px #353535,
    604px 1402px #353535, 401px 1650px #353535, 1877px 1676px #353535,
    229px 581px #353535, 959px 1123px #353535, 733px 1315px #353535,
    698px 695px #353535, 1883px 1184px #353535, 1234px 580px #353535,
    836px 1401px #353535, 751px 1770px #353535, 52px 1560px #353535,
    1732px 794px #353535, 766px 1923px #353535, 1296px 145px #353535,
    207px 377px #353535, 1972px 1778px #353535, 1194px 1215px #353535,
    265px 1471px #353535, 591px 1669px #353535, 186px 1801px #353535,
    1484px 1166px #353535, 1789px 1507px #353535, 1753px 949px #353535,
    1046px 1068px #353535, 1110px 407px #353535, 423px 1302px #353535,
    1472px 78px #353535, 1023px 779px #353535, 558px 1994px #353535,
    1424px 1295px #353535, 1628px 1905px #353535, 1223px 946px #353535,
    785px 293px #353535, 1445px 1263px #353535, 219px 851px #353535,
    1017px 1366px #353535, 867px 63px #353535, 257px 1149px #353535,
    422px 374px #353535, 1194px 214px #353535, 731px 603px #353535,
    37px 264px #353535, 52px 862px #353535, 1396px 48px #353535,
    835px 544px #353535, 1886px 235px #353535, 865px 1221px #353535,
    145px 1587px #353535, 478px 1491px #353535, 449px 870px #353535,
    1145px 818px #353535, 693px 222px #353535, 919px 1186px #353535,
    1506px 442px #353535, 613px 606px #353535, 1922px 432px #353535,
    1538px 1275px #353535, 1188px 1669px #353535, 1516px 1234px #353535,
    583px 1421px #353535, 1609px 1335px #353535, 1042px 1372px #353535,
    1884px 1470px #353535, 1354px 1994px #353535, 1770px 1665px #353535,
    1287px 1698px #353535, 1958px 1853px #353535, 1395px 1448px #353535,
    942px 390px #353535, 423px 294px #353535, 314px 558px #353535,
    1015px 626px #353535, 1237px 1904px #353535, 446px 620px #353535,
    1406px 1623px #353535, 1768px 350px #353535, 291px 1693px #353535,
    1277px 533px #353535, 1784px 14px #353535, 920px 692px #353535,
    1922px 1513px #353535, 1628px 387px #353535, 1556px 1736px #353535,
    414px 1773px #353535, 1577px 328px #353535, 411px 1123px #353535,
    1358px 179px #353535, 180px 1464px #353535, 1270px 1147px #353535,
    1734px 945px #353535, 1232px 1867px #353535, 1609px 1675px #353535,
    1538px 588px #353535, 785px 1838px #353535, 940px 767px #353535,
    277px 273px #353535, 124px 633px #353535, 1620px 1034px #353535,
    1236px 6px #353535, 1419px 1613px #353535, 1690px 1837px #353535,
    14px 1926px #353535, 934px 1542px #353535, 433px 1539px #353535,
    520px 997px #353535, 1653px 987px #353535, 1861px 588px #353535,
    116px 1328px #353535, 1191px 449px #353535, 1580px 1503px #353535,
    1404px 407px #353535, 1227px 617px #353535, 1845px 1799px #353535,
    45px 284px #353535, 1679px 1264px #353535, 1890px 1730px #353535,
    786px 1885px #353535, 1211px 1440px #353535, 1914px 1320px #353535,
    288px 1748px #353535, 578px 253px #353535, 619px 376px #353535,
    1313px 215px #353535, 934px 1706px #353535, 231px 1284px #353535,
    1823px 479px #353535, 1309px 1238px #353535, 1773px 1498px #353535,
    1867px 1566px #353535, 528px 934px #353535, 262px 127px #353535,
    1252px 665px #353535, 1412px 1031px #353535, 806px 1025px #353535,
    715px 375px #353535, 1187px 1119px #353535, 283px 744px #353535,
    1907px 1105px #353535, 1226px 1026px #353535, 152px 1345px #353535,
    248px 1912px #353535, 1768px 1350px #353535, 1392px 694px #353535,
    825px 1468px #353535, 1808px 1305px #353535, 1204px 1941px #353535,
    546px 532px #353535, 788px 842px #353535, 1435px 709px #353535,
    677px 1002px #353535, 152px 811px #353535, 620px 267px #353535,
    1255px 255px #353535, 1067px 1713px #353535, 732px 184px #353535,
    1441px 882px #353535, 472px 716px #353535, 64px 439px #353535,
    975px 1305px #353535, 813px 938px #353535, 415px 1267px #353535,
    467px 296px #353535, 843px 513px #353535, 567px 1219px #353535,
    999px 1936px #353535, 420px 1143px #353535, 761px 832px #353535,
    1892px 650px #353535, 1496px 274px #353535, 2px 132px #353535,
    1853px 1320px #353535, 367px 1512px #353535, 1975px 732px #353535,
    949px 1414px #353535, 636px 104px #353535, 429px 1603px #353535,
    1692px 509px #353535, 927px 227px #353535, 1093px 1040px #353535,
    627px 557px #353535, 1353px 789px #353535, 1406px 1179px #353535,
    433px 1697px #353535, 1624px 259px #353535, 113px 992px #353535,
    1352px 1196px #353535, 555px 276px #353535, 650px 1447px #353535,
    1651px 1083px #353535, 632px 834px #353535, 1848px 820px #353535,
    1294px 508px #353535, 691px 491px #353535, 206px 1421px #353535,
    154px 1184px #353535, 1607px 1261px #353535, 1914px 1469px #353535,
    1029px 1343px #353535, 995px 368px #353535, 703px 1134px #353535,
    1894px 1173px #353535, 263px 1104px #353535, 985px 1947px #353535,
    286px 849px #353535, 996px 1240px #353535, 1431px 1720px #353535,
    211px 875px #353535, 486px 959px #353535, 1335px 1995px #353535,
    447px 1683px #353535, 631px 1638px #353535, 1959px 1596px #353535,
    879px 1253px #353535, 728px 525px #353535, 974px 567px #353535,
    1453px 355px #353535, 1054px 1196px #353535, 1415px 775px #353535,
    833px 1529px #353535, 1723px 1127px #353535, 1581px 1073px #353535,
    1916px 805px #353535, 939px 1395px #353535, 770px 532px #353535,
    422px 1385px #353535, 196px 346px #353535, 915px 1098px #353535,
    1159px 1793px #353535, 1144px 1814px #353535, 1231px 625px #353535,
    1549px 1199px #353535, 989px 639px #353535, 1610px 1481px #353535,
    1466px 1674px #353535, 345px 287px #353535, 945px 961px #353535,
    1689px 1265px #353535, 480px 1064px #353535, 829px 1076px #353535,
    321px 582px #353535, 145px 1329px #353535, 576px 1538px #353535,
    912px 858px #353535, 23px 1778px #353535, 641px 223px #353535,
    479px 662px #353535, 105px 878px #353535, 750px 1195px #353535,
    1066px 16px #353535, 65px 955px #353535, 1917px 754px #353535,
    419px 771px #353535, 1956px 1504px #353535, 195px 991px #353535,
    849px 625px #353535, 1988px 33px #353535, 185px 1753px #353535,
    1513px 1551px #353535, 409px 528px #353535, 198px 1888px #353535,
    60px 1037px #353535, 1386px 1420px #353535, 445px 1312px #353535,
    1454px 526px #353535, 77px 662px #353535, 761px 1296px #353535,
    207px 1392px #353535, 1508px 1453px #353535, 1082px 635px #353535,
    53px 1280px #353535, 793px 1660px #353535, 431px 1625px #353535,
    854px 1886px #353535, 579px 1787px #353535, 49px 1676px #353535,
    400px 1448px #353535, 499px 1110px #353535, 705px 570px #353535,
    383px 19px #353535, 1911px 1585px #353535, 473px 918px #353535,
    1385px 1346px #353535, 1845px 881px #353535, 690px 1483px #353535,
    228px 1043px #353535, 923px 510px #353535, 265px 1325px #353535,
    187px 232px #353535, 1164px 949px #353535, 680px 1751px #353535,
    588px 814px #353535, 1184px 147px #353535, 1496px 222px #353535,
    229px 1699px #353535, 1167px 1915px #353535, 1636px 1621px #353535,
    1075px 560px #353535, 1737px 1755px #353535, 1701px 936px #353535,
    657px 1819px #353535, 1112px 145px #353535, 27px 253px #353535,
    1835px 117px #353535, 380px 1373px #353535, 1325px 609px #353535,
    1063px 1084px #353535, 102px 1276px #353535, 1845px 1344px #353535,
    307px 1863px #353535, 934px 1768px #353535, 762px 1349px #353535,
    49px 1389px #353535, 269px 586px #353535, 1269px 249px #353535,
    573px 449px #353535, 1600px 638px #353535, 525px 1963px #353535,
    440px 1009px #353535, 264px 1409px #353535, 1539px 799px #353535,
    153px 561px #353535, 644px 1548px #353535, 940px 1796px #353535,
    1587px 1265px #353535, 1076px 1199px #353535, 298px 517px #353535,
    123px 465px #353535, 1420px 1786px #353535, 1435px 234px #353535,
    1709px 732px #353535, 594px 1440px #353535, 653px 1004px #353535,
    680px 1592px #353535, 1954px 1177px #353535, 1869px 1245px #353535,
    1352px 1225px #353535, 923px 641px #353535, 1379px 575px #353535,
    43px 1007px #353535, 340px 346px #353535, 582px 966px #353535,
    973px 34px #353535, 694px 146px #353535, 1957px 1237px #353535,
    1687px 712px #353535, 1851px 173px #353535, 256px 1974px #353535,
    1531px 443px #353535, 1469px 544px #353535, 707px 1357px #353535,
    1631px 389px #353535, 1614px 24px #353535, 223px 995px #353535,
    146px 927px #353535, 1338px 490px #353535, 498px 1878px #353535,
    1907px 896px #353535, 1271px 1973px #353535, 432px 304px #353535,
    439px 249px #353535, 1577px 1277px #353535, 1960px 1809px #353535,
    606px 1508px #353535, 1119px 1107px #353535, 770px 1451px #353535,
    1918px 192px #353535, 1424px 1511px #353535, 1240px 1705px #353535,
    941px 684px #353535, 1848px 1771px #353535, 597px 1354px #353535,
    862px 343px #353535, 746px 99px #353535, 721px 1289px #353535,
    1617px 857px #353535, 394px 154px #353535, 891px 459px #353535,
    1428px 1476px #353535, 756px 665px #353535, 503px 1796px #353535,
    1372px 994px #353535, 1593px 1575px #353535, 723px 1922px #353535,
    511px 1682px #353535, 1933px 355px #353535, 1912px 1245px #353535,
    912px 1256px #353535, 542px 1292px #353535, 792px 364px #353535,
    1442px 1106px #353535, 540px 1407px #353535, 416px 1820px #353535,
    61px 63px #353535, 611px 1830px #353535, 827px 1273px #353535,
    918px 687px #353535, 125px 1103px #353535, 1299px 962px #353535,
    112px 1647px #353535, 1167px 654px #353535, 447px 40px #353535,
    1069px 795px #353535, 347px 124px #353535, 1769px 157px #353535,
    1339px 496px #353535, 311px 938px #353535, 1440px 1737px #353535,
    1858px 1096px #353535, 1294px 371px #353535, 1120px 683px #353535,
    730px 96px #353535, 1312px 1564px #353535, 1063px 371px #353535,
    1026px 488px #353535, 1472px 538px #353535, 1385px 1942px #353535,
    888px 1270px #353535, 1218px 441px #353535, 424px 176px #353535,
    668px 1135px #353535, 22px 546px #353535, 1262px 838px #353535,
    1422px 1304px #353535, 337px 902px #353535, 1347px 1906px #353535,
    1718px 1184px #353535, 551px 200px #353535, 121px 1196px #353535,
    671px 804px #353535, 1230px 1437px #353535, 798px 739px #353535,
    328px 888px #353535, 359px 849px #353535, 369px 1173px #353535,
    464px 1664px #353535, 1618px 1504px #353535, 608px 1078px #353535,
    1382px 1272px #353535, 1639px 534px #353535, 195px 1754px #353535,
    1568px 1383px #353535, 48px 286px #353535, 1450px 1636px #353535,
    46px 1723px #353535, 1002px 893px #353535, 103px 1086px #353535,
    91px 1431px #353535, 540px 820px #353535, 851px 1017px #353535,
    935px 617px #353535, 246px 1601px #353535, 1308px 1484px #353535,
    920px 813px #353535, 65px 171px #353535, 1734px 1326px #353535,
    778px 1119px #353535, 1117px 1812px #353535, 1060px 493px #353535,
    813px 1195px #353535, 321px 1385px #353535, 1906px 1145px #353535,
    693px 1341px #353535, 955px 655px #353535, 778px 655px #353535,
    757px 114px #353535, 1433px 1666px #353535, 1792px 1608px #353535,
    1752px 1337px #353535, 367px 55px #353535, 1505px 1179px #353535,
    104px 1045px #353535, 35px 654px #353535, 1661px 1626px #353535,
    705px 90px #353535, 922px 1694px #353535, 879px 1772px #353535,
    1906px 590px #353535, 758px 370px #353535, 1960px 271px #353535,
    1765px 1380px #353535, 297px 1932px #353535, 1929px 1868px #353535,
    1873px 166px #353535, 1700px 546px #353535, 421px 1961px #353535,
    1707px 1883px #353535, 1574px 857px #353535, 790px 1489px #353535,
    1934px 1406px #353535, 832px 396px #353535, 1642px 1099px #353535,
    556px 1680px #353535, 1511px 1118px #353535, 349px 257px #353535,
    1647px 1813px #353535, 1188px 844px #353535, 1642px 338px #353535,
    914px 1926px #353535, 1394px 487px #353535, 970px 55px #353535,
    1307px 571px #353535, 1524px 568px #353535, 840px 1884px #353535,
    1528px 911px #353535, 1158px 577px #353535, 592px 1905px #353535,
    302px 1731px #353535, 546px 1383px #353535, 1588px 91px #353535,
    807px 461px #353535, 1134px 629px #353535, 1361px 1469px #353535,
    897px 253px #353535, 125px 609px #353535, 362px 800px #353535,
    700px 226px #353535, 620px 743px #353535, 411px 640px #353535,
    991px 1915px #353535, 869px 57px #353535, 1216px 1721px #353535,
    1202px 831px #353535, 734px 1197px #353535, 1311px 44px #353535,
    767px 1221px #353535, 432px 1396px #353535, 1004px 1321px #353535,
    1168px 656px #353535, 1366px 591px #353535, 101px 1962px #353535,
    1114px 1261px #353535, 661px 359px #353535, 1977px 1362px #353535,
    1948px 937px #353535, 976px 1592px #353535, 1503px 1217px #353535,
    1334px 1692px #353535, 1693px 972px #353535, 416px 426px #353535,
    1268px 1385px #353535, 1442px 1953px #353535, 666px 1695px #353535,
    1673px 284px #353535, 1975px 1520px #353535, 1767px 1094px #353535,
    1480px 82px #353535, 782px 941px #353535, 1696px 458px #353535,
    1196px 1687px #353535, 562px 1300px #353535, 1005px 491px #353535,
    692px 529px #353535, 812px 588px #353535, 727px 1040px #353535,
    1694px 389px #353535, 116px 1724px #353535, 158px 499px #353535,
    1950px 317px #353535, 332px 124px #353535, 1504px 1085px #353535,
    1569px 275px #353535, 1098px 817px #353535, 635px 1753px #353535,
    194px 1436px #353535, 438px 1547px #353535, 730px 1085px #353535,
    1575px 1468px #353535, 885px 1150px #353535, 193px 1583px #353535,
    685px 1941px #353535, 1733px 674px #353535, 1685px 1865px #353535,
    578px 170px #353535, 463px 138px #353535, 1878px 694px #353535,
    1491px 839px #353535, 1258px 1095px #353535, 1626px 1858px #353535,
    1591px 533px #353535, 562px 1746px #353535, 1050px 521px #353535,
    1836px 155px #353535, 445px 1182px #353535, 888px 1270px #353535,
    1152px 1274px #353535, 1328px 1337px #353535, 169px 1165px #353535,
    224px 1134px #353535, 908px 1569px #353535, 1155px 1478px #353535,
    1698px 246px #353535, 64px 951px #353535, 1361px 628px #353535,
    1771px 284px #353535, 904px 1274px #353535, 1503px 939px #353535,
    1305px 1623px #353535, 685px 51px #353535, 1413px 847px #353535,
    1087px 1566px #353535, 155px 855px #353535, 1459px 838px #353535,
    441px 1836px #353535, 685px 1463px #353535, 1697px 262px #353535,
    153px 1205px #353535, 1794px 725px #353535, 1318px 456px #353535,
    1738px 1591px #353535, 1997px 48px #353535, 297px 1256px #353535,
    937px 1025px #353535, 1838px 501px #353535, 1448px 1582px #353535,
    587px 1855px #353535, 602px 288px #353535, 999px 1559px #353535,
    1856px 1411px #353535, 796px 705px #353535, 1143px 1455px #353535,
    218px 320px #353535, 316px 1556px #353535, 1633px 1999px #353535,
    892px 846px #353535, 1155px 1207px #353535, 1499px 1207px #353535,
    153px 1068px #353535, 577px 1800px #353535, 104px 1252px #353535,
    910px 727px #353535, 1737px 922px #353535, 1940px 1019px #353535,
    1555px 1282px #353535;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 4px;
  height: 4px;
  border-radius: 50%;

  background: transparent;
  box-shadow: 23px 138px #353535, 334px 1673px #353535, 317px 1332px #353535,
    1005px 1978px #353535, 1295px 319px #353535, 1342px 1195px #353535,
    759px 1368px #353535, 1092px 1372px #353535, 1081px 277px #353535,
    915px 845px #353535, 287px 89px #353535, 981px 84px #353535,
    1873px 843px #353535, 751px 577px #353535, 779px 160px #353535,
    437px 1294px #353535, 1649px 1849px #353535, 736px 1938px #353535,
    1578px 261px #353535, 972px 1878px #353535, 972px 1306px #353535,
    618px 746px #353535, 492px 1744px #353535, 302px 1600px #353535,
    12px 12px #353535, 896px 1206px #353535, 660px 476px #353535,
    1026px 1109px #353535, 38px 224px #353535, 833px 405px #353535,
    1434px 39px #353535, 1611px 211px #353535, 866px 1718px #353535,
    25px 1674px #353535, 980px 140px #353535, 1008px 714px #353535,
    1411px 933px #353535, 38px 1336px #353535, 1302px 783px #353535,
    1410px 609px #353535, 856px 147px #353535, 374px 1336px #353535,
    538px 678px #353535, 368px 405px #353535, 159px 712px #353535,
    1791px 1430px #353535, 603px 1839px #353535, 161px 1459px #353535,
    94px 1502px #353535, 950px 1120px #353535, 1753px 1354px #353535,
    312px 1633px #353535, 935px 1165px #353535, 1150px 489px #353535,
    1395px 702px #353535, 1607px 1558px #353535, 1784px 167px #353535,
    914px 1177px #353535, 1815px 1467px #353535, 1862px 1778px #353535,
    4px 311px #353535, 1615px 625px #353535, 195px 1433px #353535,
    188px 1306px #353535, 995px 1630px #353535, 675px 1236px #353535,
    604px 1402px #353535, 401px 1650px #353535, 1877px 1676px #353535,
    229px 581px #353535, 959px 1123px #353535, 733px 1315px #353535,
    698px 695px #353535, 1883px 1184px #353535, 1234px 580px #353535,
    836px 1401px #353535, 751px 1770px #353535, 52px 1560px #353535,
    1732px 794px #353535, 766px 1923px #353535, 1296px 145px #353535,
    207px 377px #353535, 1972px 1778px #353535, 1194px 1215px #353535,
    265px 1471px #353535, 591px 1669px #353535, 186px 1801px #353535,
    1484px 1166px #353535, 1789px 1507px #353535, 1753px 949px #353535,
    1046px 1068px #353535, 1110px 407px #353535, 423px 1302px #353535,
    1472px 78px #353535, 1023px 779px #353535, 558px 1994px #353535,
    1424px 1295px #353535, 1628px 1905px #353535, 1223px 946px #353535,
    785px 293px #353535, 1445px 1263px #353535, 219px 851px #353535,
    1017px 1366px #353535, 867px 63px #353535, 257px 1149px #353535,
    422px 374px #353535, 1194px 214px #353535, 731px 603px #353535,
    37px 264px #353535, 52px 862px #353535, 1396px 48px #353535,
    835px 544px #353535, 1886px 235px #353535, 865px 1221px #353535,
    145px 1587px #353535, 478px 1491px #353535, 449px 870px #353535,
    1145px 818px #353535, 693px 222px #353535, 919px 1186px #353535,
    1506px 442px #353535, 613px 606px #353535, 1922px 432px #353535,
    1538px 1275px #353535, 1188px 1669px #353535, 1516px 1234px #353535,
    583px 1421px #353535, 1609px 1335px #353535, 1042px 1372px #353535,
    1884px 1470px #353535, 1354px 1994px #353535, 1770px 1665px #353535,
    1287px 1698px #353535, 1958px 1853px #353535, 1395px 1448px #353535,
    942px 390px #353535, 423px 294px #353535, 314px 558px #353535,
    1015px 626px #353535, 1237px 1904px #353535, 446px 620px #353535,
    1406px 1623px #353535, 1768px 350px #353535, 291px 1693px #353535,
    1277px 533px #353535, 1784px 14px #353535, 920px 692px #353535,
    1922px 1513px #353535, 1628px 387px #353535, 1556px 1736px #353535,
    414px 1773px #353535, 1577px 328px #353535, 411px 1123px #353535,
    1358px 179px #353535, 180px 1464px #353535, 1270px 1147px #353535,
    1734px 945px #353535, 1232px 1867px #353535, 1609px 1675px #353535,
    1538px 588px #353535, 785px 1838px #353535, 940px 767px #353535,
    277px 273px #353535, 124px 633px #353535, 1620px 1034px #353535,
    1236px 6px #353535, 1419px 1613px #353535, 1690px 1837px #353535,
    14px 1926px #353535, 934px 1542px #353535, 433px 1539px #353535,
    520px 997px #353535, 1653px 987px #353535, 1861px 588px #353535,
    116px 1328px #353535, 1191px 449px #353535, 1580px 1503px #353535,
    1404px 407px #353535, 1227px 617px #353535, 1845px 1799px #353535,
    45px 284px #353535, 1679px 1264px #353535, 1890px 1730px #353535,
    786px 1885px #353535, 1211px 1440px #353535, 1914px 1320px #353535,
    288px 1748px #353535, 578px 253px #353535, 619px 376px #353535,
    1313px 215px #353535, 934px 1706px #353535, 231px 1284px #353535,
    1823px 479px #353535, 1309px 1238px #353535, 1773px 1498px #353535,
    1867px 1566px #353535, 528px 934px #353535, 262px 127px #353535,
    1252px 665px #353535, 1412px 1031px #353535, 806px 1025px #353535,
    715px 375px #353535, 1187px 1119px #353535, 283px 744px #353535,
    1907px 1105px #353535, 1226px 1026px #353535, 152px 1345px #353535,
    248px 1912px #353535, 1768px 1350px #353535, 1392px 694px #353535,
    825px 1468px #353535, 1808px 1305px #353535, 1204px 1941px #353535,
    546px 532px #353535, 788px 842px #353535, 1435px 709px #353535,
    677px 1002px #353535, 152px 811px #353535, 620px 267px #353535,
    1255px 255px #353535, 1067px 1713px #353535, 732px 184px #353535,
    1441px 882px #353535, 472px 716px #353535, 64px 439px #353535,
    975px 1305px #353535, 813px 938px #353535, 415px 1267px #353535,
    467px 296px #353535, 843px 513px #353535, 567px 1219px #353535,
    999px 1936px #353535, 420px 1143px #353535, 761px 832px #353535,
    1892px 650px #353535, 1496px 274px #353535, 2px 132px #353535,
    1853px 1320px #353535, 367px 1512px #353535, 1975px 732px #353535,
    949px 1414px #353535, 636px 104px #353535, 429px 1603px #353535,
    1692px 509px #353535, 927px 227px #353535, 1093px 1040px #353535,
    627px 557px #353535, 1353px 789px #353535, 1406px 1179px #353535,
    433px 1697px #353535, 1624px 259px #353535, 113px 992px #353535,
    1352px 1196px #353535, 555px 276px #353535, 650px 1447px #353535,
    1651px 1083px #353535, 632px 834px #353535, 1848px 820px #353535,
    1294px 508px #353535, 691px 491px #353535, 206px 1421px #353535,
    154px 1184px #353535, 1607px 1261px #353535, 1914px 1469px #353535,
    1029px 1343px #353535, 995px 368px #353535, 703px 1134px #353535,
    1894px 1173px #353535, 263px 1104px #353535, 985px 1947px #353535,
    286px 849px #353535, 996px 1240px #353535, 1431px 1720px #353535,
    211px 875px #353535, 486px 959px #353535, 1335px 1995px #353535,
    447px 1683px #353535, 631px 1638px #353535, 1959px 1596px #353535,
    879px 1253px #353535, 728px 525px #353535, 974px 567px #353535,
    1453px 355px #353535, 1054px 1196px #353535, 1415px 775px #353535,
    833px 1529px #353535, 1723px 1127px #353535, 1581px 1073px #353535,
    1916px 805px #353535, 939px 1395px #353535, 770px 532px #353535,
    422px 1385px #353535, 196px 346px #353535, 915px 1098px #353535,
    1159px 1793px #353535, 1144px 1814px #353535, 1231px 625px #353535,
    1549px 1199px #353535, 989px 639px #353535, 1610px 1481px #353535,
    1466px 1674px #353535, 345px 287px #353535, 945px 961px #353535,
    1689px 1265px #353535, 480px 1064px #353535, 829px 1076px #353535,
    321px 582px #353535, 145px 1329px #353535, 576px 1538px #353535,
    912px 858px #353535, 23px 1778px #353535, 641px 223px #353535,
    479px 662px #353535, 105px 878px #353535, 750px 1195px #353535,
    1066px 16px #353535, 65px 955px #353535, 1917px 754px #353535,
    419px 771px #353535, 1956px 1504px #353535, 195px 991px #353535,
    849px 625px #353535, 1988px 33px #353535, 185px 1753px #353535,
    1513px 1551px #353535, 409px 528px #353535, 198px 1888px #353535,
    60px 1037px #353535, 1386px 1420px #353535, 445px 1312px #353535,
    1454px 526px #353535, 77px 662px #353535, 761px 1296px #353535,
    207px 1392px #353535, 1508px 1453px #353535, 1082px 635px #353535,
    53px 1280px #353535, 793px 1660px #353535, 431px 1625px #353535,
    854px 1886px #353535, 579px 1787px #353535, 49px 1676px #353535,
    400px 1448px #353535, 499px 1110px #353535, 705px 570px #353535,
    383px 19px #353535, 1911px 1585px #353535, 473px 918px #353535,
    1385px 1346px #353535, 1845px 881px #353535, 690px 1483px #353535,
    228px 1043px #353535, 923px 510px #353535, 265px 1325px #353535,
    187px 232px #353535, 1164px 949px #353535, 680px 1751px #353535,
    588px 814px #353535, 1184px 147px #353535, 1496px 222px #353535,
    229px 1699px #353535, 1167px 1915px #353535, 1636px 1621px #353535,
    1075px 560px #353535, 1737px 1755px #353535, 1701px 936px #353535,
    657px 1819px #353535, 1112px 145px #353535, 27px 253px #353535,
    1835px 117px #353535, 380px 1373px #353535, 1325px 609px #353535,
    1063px 1084px #353535, 102px 1276px #353535, 1845px 1344px #353535,
    307px 1863px #353535, 934px 1768px #353535, 762px 1349px #353535,
    49px 1389px #353535, 269px 586px #353535, 1269px 249px #353535,
    573px 449px #353535, 1600px 638px #353535, 525px 1963px #353535,
    440px 1009px #353535, 264px 1409px #353535, 1539px 799px #353535,
    153px 561px #353535, 644px 1548px #353535, 940px 1796px #353535,
    1587px 1265px #353535, 1076px 1199px #353535, 298px 517px #353535,
    123px 465px #353535, 1420px 1786px #353535, 1435px 234px #353535,
    1709px 732px #353535, 594px 1440px #353535, 653px 1004px #353535,
    680px 1592px #353535, 1954px 1177px #353535, 1869px 1245px #353535,
    1352px 1225px #353535, 923px 641px #353535, 1379px 575px #353535,
    43px 1007px #353535, 340px 346px #353535, 582px 966px #353535,
    973px 34px #353535, 694px 146px #353535, 1957px 1237px #353535,
    1687px 712px #353535, 1851px 173px #353535, 256px 1974px #353535,
    1531px 443px #353535, 1469px 544px #353535, 707px 1357px #353535,
    1631px 389px #353535, 1614px 24px #353535, 223px 995px #353535,
    146px 927px #353535, 1338px 490px #353535, 498px 1878px #353535,
    1907px 896px #353535, 1271px 1973px #353535, 432px 304px #353535,
    439px 249px #353535, 1577px 1277px #353535, 1960px 1809px #353535,
    606px 1508px #353535, 1119px 1107px #353535, 770px 1451px #353535,
    1918px 192px #353535, 1424px 1511px #353535, 1240px 1705px #353535,
    941px 684px #353535, 1848px 1771px #353535, 597px 1354px #353535,
    862px 343px #353535, 746px 99px #353535, 721px 1289px #353535,
    1617px 857px #353535, 394px 154px #353535, 891px 459px #353535,
    1428px 1476px #353535, 756px 665px #353535, 503px 1796px #353535,
    1372px 994px #353535, 1593px 1575px #353535, 723px 1922px #353535,
    511px 1682px #353535, 1933px 355px #353535, 1912px 1245px #353535,
    912px 1256px #353535, 542px 1292px #353535, 792px 364px #353535,
    1442px 1106px #353535, 540px 1407px #353535, 416px 1820px #353535,
    61px 63px #353535, 611px 1830px #353535, 827px 1273px #353535,
    918px 687px #353535, 125px 1103px #353535, 1299px 962px #353535,
    112px 1647px #353535, 1167px 654px #353535, 447px 40px #353535,
    1069px 795px #353535, 347px 124px #353535, 1769px 157px #353535,
    1339px 496px #353535, 311px 938px #353535, 1440px 1737px #353535,
    1858px 1096px #353535, 1294px 371px #353535, 1120px 683px #353535,
    730px 96px #353535, 1312px 1564px #353535, 1063px 371px #353535,
    1026px 488px #353535, 1472px 538px #353535, 1385px 1942px #353535,
    888px 1270px #353535, 1218px 441px #353535, 424px 176px #353535,
    668px 1135px #353535, 22px 546px #353535, 1262px 838px #353535,
    1422px 1304px #353535, 337px 902px #353535, 1347px 1906px #353535,
    1718px 1184px #353535, 551px 200px #353535, 121px 1196px #353535,
    671px 804px #353535, 1230px 1437px #353535, 798px 739px #353535,
    328px 888px #353535, 359px 849px #353535, 369px 1173px #353535,
    464px 1664px #353535, 1618px 1504px #353535, 608px 1078px #353535,
    1382px 1272px #353535, 1639px 534px #353535, 195px 1754px #353535,
    1568px 1383px #353535, 48px 286px #353535, 1450px 1636px #353535,
    46px 1723px #353535, 1002px 893px #353535, 103px 1086px #353535,
    91px 1431px #353535, 540px 820px #353535, 851px 1017px #353535,
    935px 617px #353535, 246px 1601px #353535, 1308px 1484px #353535,
    920px 813px #353535, 65px 171px #353535, 1734px 1326px #353535,
    778px 1119px #353535, 1117px 1812px #353535, 1060px 493px #353535,
    813px 1195px #353535, 321px 1385px #353535, 1906px 1145px #353535,
    693px 1341px #353535, 955px 655px #353535, 778px 655px #353535,
    757px 114px #353535, 1433px 1666px #353535, 1792px 1608px #353535,
    1752px 1337px #353535, 367px 55px #353535, 1505px 1179px #353535,
    104px 1045px #353535, 35px 654px #353535, 1661px 1626px #353535,
    705px 90px #353535, 922px 1694px #353535, 879px 1772px #353535,
    1906px 590px #353535, 758px 370px #353535, 1960px 271px #353535,
    1765px 1380px #353535, 297px 1932px #353535, 1929px 1868px #353535,
    1873px 166px #353535, 1700px 546px #353535, 421px 1961px #353535,
    1707px 1883px #353535, 1574px 857px #353535, 790px 1489px #353535,
    1934px 1406px #353535, 832px 396px #353535, 1642px 1099px #353535,
    556px 1680px #353535, 1511px 1118px #353535, 349px 257px #353535,
    1647px 1813px #353535, 1188px 844px #353535, 1642px 338px #353535,
    914px 1926px #353535, 1394px 487px #353535, 970px 55px #353535,
    1307px 571px #353535, 1524px 568px #353535, 840px 1884px #353535,
    1528px 911px #353535, 1158px 577px #353535, 592px 1905px #353535,
    302px 1731px #353535, 546px 1383px #353535, 1588px 91px #353535,
    807px 461px #353535, 1134px 629px #353535, 1361px 1469px #353535,
    897px 253px #353535, 125px 609px #353535, 362px 800px #353535,
    700px 226px #353535, 620px 743px #353535, 411px 640px #353535,
    991px 1915px #353535, 869px 57px #353535, 1216px 1721px #353535,
    1202px 831px #353535, 734px 1197px #353535, 1311px 44px #353535,
    767px 1221px #353535, 432px 1396px #353535, 1004px 1321px #353535,
    1168px 656px #353535, 1366px 591px #353535, 101px 1962px #353535,
    1114px 1261px #353535, 661px 359px #353535, 1977px 1362px #353535,
    1948px 937px #353535, 976px 1592px #353535, 1503px 1217px #353535,
    1334px 1692px #353535, 1693px 972px #353535, 416px 426px #353535,
    1268px 1385px #353535, 1442px 1953px #353535, 666px 1695px #353535,
    1673px 284px #353535, 1975px 1520px #353535, 1767px 1094px #353535,
    1480px 82px #353535, 782px 941px #353535, 1696px 458px #353535,
    1196px 1687px #353535, 562px 1300px #353535, 1005px 491px #353535,
    692px 529px #353535, 812px 588px #353535, 727px 1040px #353535,
    1694px 389px #353535, 116px 1724px #353535, 158px 499px #353535,
    1950px 317px #353535, 332px 124px #353535, 1504px 1085px #353535,
    1569px 275px #353535, 1098px 817px #353535, 635px 1753px #353535,
    194px 1436px #353535, 438px 1547px #353535, 730px 1085px #353535,
    1575px 1468px #353535, 885px 1150px #353535, 193px 1583px #353535,
    685px 1941px #353535, 1733px 674px #353535, 1685px 1865px #353535,
    578px 170px #353535, 463px 138px #353535, 1878px 694px #353535,
    1491px 839px #353535, 1258px 1095px #353535, 1626px 1858px #353535,
    1591px 533px #353535, 562px 1746px #353535, 1050px 521px #353535,
    1836px 155px #353535, 445px 1182px #353535, 888px 1270px #353535,
    1152px 1274px #353535, 1328px 1337px #353535, 169px 1165px #353535,
    224px 1134px #353535, 908px 1569px #353535, 1155px 1478px #353535,
    1698px 246px #353535, 64px 951px #353535, 1361px 628px #353535,
    1771px 284px #353535, 904px 1274px #353535, 1503px 939px #353535,
    1305px 1623px #353535, 685px 51px #353535, 1413px 847px #353535,
    1087px 1566px #353535, 155px 855px #353535, 1459px 838px #353535,
    441px 1836px #353535, 685px 1463px #353535, 1697px 262px #353535,
    153px 1205px #353535, 1794px 725px #353535, 1318px 456px #353535,
    1738px 1591px #353535, 1997px 48px #353535, 297px 1256px #353535,
    937px 1025px #353535, 1838px 501px #353535, 1448px 1582px #353535,
    587px 1855px #353535, 602px 288px #353535, 999px 1559px #353535,
    1856px 1411px #353535, 796px 705px #353535, 1143px 1455px #353535,
    218px 320px #353535, 316px 1556px #353535, 1633px 1999px #353535,
    892px 846px #353535, 1155px 1207px #353535, 1499px 1207px #353535,
    153px 1068px #353535, 577px 1800px #353535, 104px 1252px #353535,
    910px 727px #353535, 1737px 922px #353535, 1940px 1019px #353535,
    1555px 1282px #353535;
}

#stars2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;

  background: transparent;
  box-shadow: 1069px 683px #353535, 683px 1950px #353535, 1772px 1942px #353535,
    97px 857px #353535, 18px 1648px #353535, 78px 581px #353535,
    992px 1975px #353535, 1011px 512px #353535, 836px 246px #353535,
    1630px 1049px #353535, 1292px 1556px #353535, 1952px 511px #353535,
    20px 390px #353535, 1597px 1554px #353535, 1995px 805px #353535,
    1132px 1820px #353535, 1240px 1868px #353535, 152px 960px #353535,
    1337px 420px #353535, 1215px 193px #353535, 406px 638px #353535,
    1388px 531px #353535, 32px 1645px #353535, 970px 700px #353535,
    432px 1334px #353535, 794px 856px #353535, 1413px 341px #353535,
    199px 1277px #353535, 327px 11px #353535, 1054px 407px #353535,
    1663px 236px #353535, 315px 783px #353535, 819px 1157px #353535,
    1155px 1866px #353535, 1438px 1627px #353535, 163px 1195px #353535,
    969px 1708px #353535, 1355px 710px #353535, 542px 1813px #353535,
    631px 983px #353535, 907px 115px #353535, 88px 374px #353535,
    427px 198px #353535, 1007px 954px #353535, 906px 1043px #353535,
    761px 1105px #353535, 1821px 117px #353535, 76px 1212px #353535,
    294px 161px #353535, 1612px 1973px #353535, 1272px 165px #353535,
    1431px 1576px #353535, 1664px 765px #353535, 202px 781px #353535,
    1713px 941px #353535, 1240px 1171px #353535, 11px 747px #353535,
    1731px 725px #353535, 304px 554px #353535, 1340px 1591px #353535,
    219px 1208px #353535, 1854px 488px #353535, 525px 322px #353535,
    1491px 1291px #353535, 812px 705px #353535, 1965px 191px #353535,
    1760px 1065px #353535, 1056px 404px #353535, 1781px 692px #353535,
    1460px 347px #353535, 568px 1323px #353535, 129px 1856px #353535,
    755px 1048px #353535, 1852px 1924px #353535, 673px 1972px #353535,
    1398px 365px #353535, 996px 1635px #353535, 1586px 487px #353535,
    1077px 1800px #353535, 1768px 498px #353535, 29px 1885px #353535,
    547px 1361px #353535, 1065px 1900px #353535, 1128px 1671px #353535,
    214px 1210px #353535, 1945px 460px #353535, 1895px 1266px #353535,
    1877px 1973px #353535, 1582px 309px #353535, 1779px 1847px #353535,
    288px 847px #353535, 70px 538px #353535, 475px 298px #353535,
    1254px 217px #353535, 801px 462px #353535, 1233px 791px #353535,
    1590px 1176px #353535, 109px 1366px #353535, 18px 469px #353535,
    870px 632px #353535, 1778px 853px #353535, 1442px 365px #353535,
    1502px 372px #353535, 254px 248px #353535, 451px 161px #353535,
    1506px 74px #353535, 1538px 463px #353535, 1043px 1414px #353535,
    640px 340px #353535, 595px 894px #353535, 704px 346px #353535,
    1213px 1083px #353535, 1302px 1031px #353535, 1056px 1288px #353535,
    1286px 850px #353535, 306px 252px #353535, 308px 1004px #353535,
    991px 718px #353535, 781px 514px #353535, 100px 1662px #353535,
    1845px 1094px #353535, 238px 1767px #353535, 569px 1989px #353535,
    252px 1938px #353535, 125px 39px #353535, 1347px 1596px #353535,
    1603px 1882px #353535, 1085px 1871px #353535, 1714px 1411px #353535,
    703px 1222px #353535, 1186px 423px #353535, 813px 1746px #353535,
    1282px 970px #353535, 618px 191px #353535, 1714px 1541px #353535,
    738px 30px #353535, 1084px 377px #353535, 752px 1886px #353535,
    790px 1119px #353535, 1430px 1858px #353535, 720px 199px #353535,
    1630px 16px #353535, 610px 881px #353535, 1580px 1069px #353535,
    457px 1547px #353535, 1415px 781px #353535, 1809px 678px #353535,
    1379px 1427px #353535, 1887px 588px #353535, 749px 1632px #353535,
    1887px 624px #353535, 457px 1804px #353535, 1953px 640px #353535,
    912px 1554px #353535, 1461px 597px #353535, 1097px 1395px #353535,
    1530px 246px #353535, 889px 1068px #353535, 1810px 8px #353535,
    1942px 555px #353535, 763px 163px #353535, 1982px 1625px #353535,
    1345px 458px #353535, 432px 1144px #353535, 1086px 1052px #353535,
    1104px 1128px #353535, 1803px 955px #353535, 570px 518px #353535,
    1598px 294px #353535, 1874px 1700px #353535, 190px 1434px #353535,
    1574px 1091px #353535, 902px 103px #353535, 273px 150px #353535,
    215px 903px #353535, 842px 847px #353535, 1608px 1461px #353535,
    1275px 1952px #353535, 251px 1674px #353535, 6px 510px #353535,
    499px 378px #353535, 1022px 1226px #353535, 1894px 673px #353535,
    1100px 858px #353535, 1563px 1116px #353535, 245px 337px #353535,
    1946px 1242px #353535, 424px 18px #353535, 978px 1917px #353535,
    999px 1807px #353535, 95px 632px #353535, 1165px 1344px #353535,
    237px 761px #353535, 1677px 687px #353535, 332px 1365px #353535,
    510px 1900px #353535, 318px 325px #353535, 1119px 1680px #353535,
    1033px 972px #353535, 743px 1988px #353535;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  background: transparent;
  box-shadow: 1069px 683px #353535, 683px 1950px #353535, 1772px 1942px #353535,
    97px 857px #353535, 18px 1648px #353535, 78px 581px #353535,
    992px 1975px #353535, 1011px 512px #353535, 836px 246px #353535,
    1630px 1049px #353535, 1292px 1556px #353535, 1952px 511px #353535,
    20px 390px #353535, 1597px 1554px #353535, 1995px 805px #353535,
    1132px 1820px #353535, 1240px 1868px #353535, 152px 960px #353535,
    1337px 420px #353535, 1215px 193px #353535, 406px 638px #353535,
    1388px 531px #353535, 32px 1645px #353535, 970px 700px #353535,
    432px 1334px #353535, 794px 856px #353535, 1413px 341px #353535,
    199px 1277px #353535, 327px 11px #353535, 1054px 407px #353535,
    1663px 236px #353535, 315px 783px #353535, 819px 1157px #353535,
    1155px 1866px #353535, 1438px 1627px #353535, 163px 1195px #353535,
    969px 1708px #353535, 1355px 710px #353535, 542px 1813px #353535,
    631px 983px #353535, 907px 115px #353535, 88px 374px #353535,
    427px 198px #353535, 1007px 954px #353535, 906px 1043px #353535,
    761px 1105px #353535, 1821px 117px #353535, 76px 1212px #353535,
    294px 161px #353535, 1612px 1973px #353535, 1272px 165px #353535,
    1431px 1576px #353535, 1664px 765px #353535, 202px 781px #353535,
    1713px 941px #353535, 1240px 1171px #353535, 11px 747px #353535,
    1731px 725px #353535, 304px 554px #353535, 1340px 1591px #353535,
    219px 1208px #353535, 1854px 488px #353535, 525px 322px #353535,
    1491px 1291px #353535, 812px 705px #353535, 1965px 191px #353535,
    1760px 1065px #353535, 1056px 404px #353535, 1781px 692px #353535,
    1460px 347px #353535, 568px 1323px #353535, 129px 1856px #353535,
    755px 1048px #353535, 1852px 1924px #353535, 673px 1972px #353535,
    1398px 365px #353535, 996px 1635px #353535, 1586px 487px #353535,
    1077px 1800px #353535, 1768px 498px #353535, 29px 1885px #353535,
    547px 1361px #353535, 1065px 1900px #353535, 1128px 1671px #353535,
    214px 1210px #353535, 1945px 460px #353535, 1895px 1266px #353535,
    1877px 1973px #353535, 1582px 309px #353535, 1779px 1847px #353535,
    288px 847px #353535, 70px 538px #353535, 475px 298px #353535,
    1254px 217px #353535, 801px 462px #353535, 1233px 791px #353535,
    1590px 1176px #353535, 109px 1366px #353535, 18px 469px #353535,
    870px 632px #353535, 1778px 853px #353535, 1442px 365px #353535,
    1502px 372px #353535, 254px 248px #353535, 451px 161px #353535,
    1506px 74px #353535, 1538px 463px #353535, 1043px 1414px #353535,
    640px 340px #353535, 595px 894px #353535, 704px 346px #353535,
    1213px 1083px #353535, 1302px 1031px #353535, 1056px 1288px #353535,
    1286px 850px #353535, 306px 252px #353535, 308px 1004px #353535,
    991px 718px #353535, 781px 514px #353535, 100px 1662px #353535,
    1845px 1094px #353535, 238px 1767px #353535, 569px 1989px #353535,
    252px 1938px #353535, 125px 39px #353535, 1347px 1596px #353535,
    1603px 1882px #353535, 1085px 1871px #353535, 1714px 1411px #353535,
    703px 1222px #353535, 1186px 423px #353535, 813px 1746px #353535,
    1282px 970px #353535, 618px 191px #353535, 1714px 1541px #353535,
    738px 30px #353535, 1084px 377px #353535, 752px 1886px #353535,
    790px 1119px #353535, 1430px 1858px #353535, 720px 199px #353535,
    1630px 16px #353535, 610px 881px #353535, 1580px 1069px #353535,
    457px 1547px #353535, 1415px 781px #353535, 1809px 678px #353535,
    1379px 1427px #353535, 1887px 588px #353535, 749px 1632px #353535,
    1887px 624px #353535, 457px 1804px #353535, 1953px 640px #353535,
    912px 1554px #353535, 1461px 597px #353535, 1097px 1395px #353535,
    1530px 246px #353535, 889px 1068px #353535, 1810px 8px #353535,
    1942px 555px #353535, 763px 163px #353535, 1982px 1625px #353535,
    1345px 458px #353535, 432px 1144px #353535, 1086px 1052px #353535,
    1104px 1128px #353535, 1803px 955px #353535, 570px 518px #353535,
    1598px 294px #353535, 1874px 1700px #353535, 190px 1434px #353535,
    1574px 1091px #353535, 902px 103px #353535, 273px 150px #353535,
    215px 903px #353535, 842px 847px #353535, 1608px 1461px #353535,
    1275px 1952px #353535, 251px 1674px #353535, 6px 510px #353535,
    499px 378px #353535, 1022px 1226px #353535, 1894px 673px #353535,
    1100px 858px #353535, 1563px 1116px #353535, 245px 337px #353535,
    1946px 1242px #353535, 424px 18px #353535, 978px 1917px #353535,
    999px 1807px #353535, 95px 632px #353535, 1165px 1344px #353535,
    237px 761px #353535, 1677px 687px #353535, 332px 1365px #353535,
    510px 1900px #353535, 318px 325px #353535, 1119px 1680px #353535,
    1033px 972px #353535, 743px 1988px #353535;
}

#stars3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background: transparent;
  box-shadow: 847px 1194px #353535, 1046px 1724px #353535, 217px 1213px #353535,
    1734px 1568px #353535, 1907px 160px #353535, 725px 1298px #353535,
    374px 269px #353535, 893px 927px #353535, 1519px 707px #353535,
    1722px 1276px #353535, 1306px 1067px #353535, 1075px 262px #353535,
    988px 93px #353535, 25px 566px #353535, 1020px 1416px #353535,
    323px 519px #353535, 206px 1623px #353535, 1347px 1397px #353535,
    1952px 9px #353535, 477px 1981px #353535, 6px 1100px #353535,
    922px 679px #353535, 58px 1109px #353535, 1062px 105px #353535,
    1202px 1344px #353535, 723px 1709px #353535, 1451px 364px #353535,
    1026px 1630px #353535, 1310px 178px #353535, 1424px 381px #353535,
    1078px 1879px #353535, 1908px 1660px #353535, 812px 1377px #353535,
    269px 145px #353535, 1572px 1503px #353535, 395px 98px #353535,
    1817px 1566px #353535, 949px 289px #353535, 962px 1422px #353535,
    1852px 571px #353535, 102px 255px #353535, 984px 8px #353535,
    766px 1780px #353535, 71px 1524px #353535, 387px 585px #353535,
    1408px 1678px #353535, 1161px 1346px #353535, 185px 114px #353535,
    872px 903px #353535, 1559px 1204px #353535, 1764px 637px #353535,
    1479px 1116px #353535, 453px 1614px #353535, 854px 1541px #353535,
    1934px 798px #353535, 1866px 926px #353535, 1012px 688px #353535,
    1318px 548px #353535, 645px 1613px #353535, 1537px 1281px #353535,
    1665px 502px #353535, 1678px 817px #353535, 1974px 785px #353535,
    333px 1436px #353535, 816px 1204px #353535, 305px 1059px #353535,
    241px 167px #353535, 1771px 368px #353535, 1253px 321px #353535,
    1884px 1203px #353535, 259px 620px #353535, 444px 1702px #353535,
    645px 1829px #353535, 592px 406px #353535, 1537px 61px #353535,
    324px 1315px #353535, 1378px 1246px #353535, 1846px 948px #353535,
    1127px 1617px #353535, 765px 399px #353535, 514px 1708px #353535,
    996px 1515px #353535, 327px 213px #353535, 1394px 1999px #353535,
    497px 1788px #353535, 1382px 429px #353535, 1674px 859px #353535,
    602px 1630px #353535, 1024px 1239px #353535, 391px 1207px #353535,
    1728px 399px #353535, 1370px 515px #353535, 1503px 1492px #353535,
    956px 1873px #353535, 386px 207px #353535, 899px 939px #353535,
    935px 1271px #353535, 1009px 751px #353535, 7px 1058px #353535,
    1303px 759px #353535;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background: transparent;
  box-shadow: 847px 1194px #353535, 1046px 1724px #353535, 217px 1213px #353535,
    1734px 1568px #353535, 1907px 160px #353535, 725px 1298px #353535,
    374px 269px #353535, 893px 927px #353535, 1519px 707px #353535,
    1722px 1276px #353535, 1306px 1067px #353535, 1075px 262px #353535,
    988px 93px #353535, 25px 566px #353535, 1020px 1416px #353535,
    323px 519px #353535, 206px 1623px #353535, 1347px 1397px #353535,
    1952px 9px #353535, 477px 1981px #353535, 6px 1100px #353535,
    922px 679px #353535, 58px 1109px #353535, 1062px 105px #353535,
    1202px 1344px #353535, 723px 1709px #353535, 1451px 364px #353535,
    1026px 1630px #353535, 1310px 178px #353535, 1424px 381px #353535,
    1078px 1879px #353535, 1908px 1660px #353535, 812px 1377px #353535,
    269px 145px #353535, 1572px 1503px #353535, 395px 98px #353535,
    1817px 1566px #353535, 949px 289px #353535, 962px 1422px #353535,
    1852px 571px #353535, 102px 255px #353535, 984px 8px #353535,
    766px 1780px #353535, 71px 1524px #353535, 387px 585px #353535,
    1408px 1678px #353535, 1161px 1346px #353535, 185px 114px #353535,
    872px 903px #353535, 1559px 1204px #353535, 1764px 637px #353535,
    1479px 1116px #353535, 453px 1614px #353535, 854px 1541px #353535,
    1934px 798px #353535, 1866px 926px #353535, 1012px 688px #353535,
    1318px 548px #353535, 645px 1613px #353535, 1537px 1281px #353535,
    1665px 502px #353535, 1678px 817px #353535, 1974px 785px #353535,
    333px 1436px #353535, 816px 1204px #353535, 305px 1059px #353535,
    241px 167px #353535, 1771px 368px #353535, 1253px 321px #353535,
    1884px 1203px #353535, 259px 620px #353535, 444px 1702px #353535,
    645px 1829px #353535, 592px 406px #353535, 1537px 61px #353535,
    324px 1315px #353535, 1378px 1246px #353535, 1846px 948px #353535,
    1127px 1617px #353535, 765px 399px #353535, 514px 1708px #353535,
    996px 1515px #353535, 327px 213px #353535, 1394px 1999px #353535,
    497px 1788px #353535, 1382px 429px #353535, 1674px 859px #353535,
    602px 1630px #353535, 1024px 1239px #353535, 391px 1207px #353535,
    1728px 399px #353535, 1370px 515px #353535, 1503px 1492px #353535,
    956px 1873px #353535, 386px 207px #353535, 899px 939px #353535,
    935px 1271px #353535, 1009px 751px #353535, 7px 1058px #353535,
    1303px 759px #353535;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2500px);
  }
}
